
.ExperienceBar{
    display: flex;
    align-items: center;
    padding: 0;
}

.ExperienceBar span {
    font-size: 1rem;
}
.bar {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}
.currentExperience {
    height: 4px;
    border-radius: 4px;
    background-color: var(--green);
}

.bar > span {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}